@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;900&display=swap');
@font-face {
    font-family: 'Integral';
    src: url("../../static/font/Integral.woff2");
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    font-display: swap;
}

button {
    cursor: pointer;
    font-weight: 600;
    color: var(--colorWhite);
    text-transform: uppercase;
    border: 2px solid var(--colorBlack);
    box-shadow: var(--colorBlack) -5px 5px;
}

li,
a {
    text-decoration: none;
}

p {
    line-height: 140%;
}