@import url("https://use.typekit.net/yro0imc.css");

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: greycliff-cf, sans-serif;
    font-display: swap;
    font-size: var(--fontRegular);
    color: var(--colorDark);
    background-color: var(--colorLight);
}

li,
a {
    text-decoration: none;
}

p {
    line-height: 130%;
}