@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap');
@font-face {
    font-family: 'Integral';
    src: url("../../static/font/Integral.woff2");
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Inter', sans-serif;
    font-display: swap;
}

li,
a {
    text-decoration: none;
}

p {
    line-height: 125%;
}