:root {
  --colorWhite: #FBF8F3;
  --colorBrokenWhite: #EDE4DB;
  --colorBlack: #151515;
  --colorGreen: #10BEA3;
  --colorDarkGreen: #003726;
  --colorPurple: #9859DA;
  --colorYellow: #E2DB11;
  --marginMobile: .8rem;
  --maxWidth: 85rem;
  --fontNormal: 1rem;
  --fontMedium: 1.2rem;
  --fontLarge: 2rem;
}