.wrapper {
    background-color: var(--colorGreen);
    background-image: url(../../static/images/square.svg);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    box-shadow: var(--colorBlack) -5px 5px;
}