.introWrapper {
    background-color: var(--colorGreen);
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../static/images/square.svg);
}

.title {
    font-size: 4rem;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    line-height: 130%;
    color: var(--colorWhite);
    text-shadow: -5px 5px #003726, -10px 10px var(--colorPurple);
    margin: 5rem 0;
}

.buttonWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    margin: 1rem;
    background-color: var(--colorPurple);
    padding: .8rem 2rem;
    border: 2px solid var(--colorBlack);
    box-shadow: var(--colorBlack) -5px 5px;
    color: var(--colorWhite);
    text-transform: uppercase;
    font-size: var(--fontMedium);
    font-weight: 600;

    &:hover {
        box-shadow: var(--colorBlack) -3px 3px;
    }
}

.pillsHeaderRight {
    position: absolute;
    right: 15vh;
    top: 18vh;
}

.pillsHeaderLeft {
    position: absolute;
    left: 20vh;
    top: 60vh;
}

.basicsWrapper {
    padding: 8rem var(--marginMobile);
    background-color: var(--colorWhite);

    .basics {
        border: 2px solid var(--colorBlack);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5.5rem 1fr 5.5rem 2fr;
        grid-template-areas:
            "verb"
            "arrow"
            "problem"
            "squares"
            "types";
    }

    .verb {
        grid-area: verb;
        background-color: var(--colorGreen);
        color: var(--colorWhite);
        padding: 2rem var(--marginMobile);
    }

    .problem {
        grid-area: problem;
        background-color: var(--colorWhite);
        padding: 2rem var(--marginMobile);
    }

    .arrow {
        grid-area: arrow;
        background-image: url(../../static/images/arrows.jpg);
    }

    .types {
        grid-area: types;
        background-color: var(--colorPurple);
        color: var(--colorWhite);
        padding: 2rem var(--marginMobile);
    }

    .squares {
        grid-area: squares;
        background-color: var(--colorYellow);
        background-image: url(../../static/images/squares.png);
    }

    .basicsTitle {
        font-size: var(--fontLarge);
        font-weight: 700;
        margin-bottom: .8rem;
        font-family: 'Integral', sans-serif;

        span {
            font-size: var(--fontMedium);
        }
    }

    .pillsBasicsRight {
        position: absolute;
        right: 0;
        top: 130vh;
    }
}


.quote {
    height: 80vh;
    background-color: var(--colorYellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .quoteText {
        max-width: 85rem;
        margin: 0 var(--marginMobile);
        font-size: var(--fontLarge);
        font-weight: 900;
        text-transform: uppercase;
        line-height: 160%;
        font-family: 'Integral', sans-serif;

        span {
            color: var(--colorWhite);
            background-color: var(--colorPurple);
            padding: 0 .5rem .5rem .5rem;
            border-radius: .5rem;
        }
    }
}

@media only screen and (min-width: 768px) {

    .title {
        font-size: 5.5rem;
    }

    .buttonWrapper {
        display: inline;
    }

    .button {
        padding: 1.5rem 4rem;
    }
}

@media only screen and (min-width: 1024px) {

    .title {
        font-size: 7.8rem;
    }

    .basicsWrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        .basics {
            max-width: 65rem;
            border: 2px solid var(--colorBlack);
            box-shadow: var(--colorBlack) -5px 5px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 2fr 2fr 1fr 2fr 2fr;
            grid-template-areas:
                "verb verb verb verb"
                "problem problem arrow arrow"
                "problem problem arrow arrow"
                "squares squares types types"
                "squares squares types types";

            .verb {
                padding: 4rem 2rem;
            }

            .problem {
                padding: 4rem 2rem;
            }

            .types {
                padding: 4rem 2rem;
            }

            .basicsTitle {
                font-size: var(--fontLarge);
            }
        }
    }

    .quote {
        .quoteText {
            font-size: 3rem;
            line-height: 140%;

            span {
                padding: 0 1rem 1rem 1rem;
                border-radius: 1rem;
            }
        }
    }
}