.introWrapper {
    background-color: var(--colorGreen);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../static/images/square.svg);
}

.title {
    font-size: 4rem;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    line-height: 130%;
    color: var(--colorWhite);
    text-shadow: -5px 5px #003726, -10px 10px var(--colorPurple);
    margin: 13rem 0 5rem 0;
}

.buttonWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    margin: 1rem;
    background-color: var(--colorPurple);
    padding: .8rem 2rem;
    border: 2px solid var(--colorBlack);
    box-shadow: var(--colorBlack) -5px 5px;
    color: var(--colorWhite);
    text-transform: uppercase;
    font-size: var(--fontMedium);
    font-weight: 600;

    &:hover {
        box-shadow: var(--colorBlack) -3px 3px;
    }
}

.pillsHeaderRight {
    position: absolute;
    right: 15vh;
    top: 18vh;
}

.pillsHeaderLeft {
    position: absolute;
    left: 20vh;
    top: 60vh;
}

.basicsWrapper {
    padding: 8rem var(--marginMobile);
    background-color: var(--colorWhite);
    display: flex;
    flex-direction: column;

    .basicsIntro {
        font-size: 6rem;
        -webkit-text-stroke: 2px var(--colorBlack);
        color: var(--colorWhite);
        font-style: italic;
        font-family: 'Integral', sans-serif;
        margin-bottom: 5rem;
    }

    .basics {
        font-size: var(--fontMedium);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5.5rem 1fr 5.5rem 2fr;
        grid-template-areas:
            "verb"
            "arrow"
            "problem"
            "squares"
            "types";
    }

    .verb {
        grid-area: verb;
        background-color: var(--colorGreen);
        color: var(--colorWhite);
        padding: 2rem var(--marginMobile);
        border: 2px solid var(--colorBlack);
    }

    .problem {
        grid-area: problem;
        background-color: var(--colorWhite);
        padding: 2rem var(--marginMobile);
        border: 2px solid var(--colorBlack);
    }

    .arrow {
        grid-area: arrow;
        background-image: url(../../static/images/arrows.jpg);
        border: 2px solid var(--colorBlack);
    }

    .types {
        grid-area: types;
        background-color: var(--colorPurple);
        color: var(--colorWhite);
        padding: 2rem var(--marginMobile);
        border: 2px solid var(--colorBlack);
    }

    .squares {
        grid-area: squares;
        background-color: var(--colorYellow);
        background-image: url(../../static/images/squares.png);
        border: 2px solid var(--colorBlack);
    }

    .basicsTitle {
        font-size: var(--fontLarge);
        font-weight: 700;
        margin-bottom: .8rem;
        font-family: 'Integral', sans-serif;

        span {
            font-size: var(--fontMedium);
        }
    }

    .basicsList {
        list-style-type: circle;
    }

    .basicsListItem {
        margin-top: 1rem;
        margin-bottom: 2rem;

        &:first-child {
            span {
                font-weight: 700;
                color: var(--colorYellow);
                text-decoration: underline;
            }
        }

        &:nth-child(2) {
            span {
                font-weight: 700;
                color: var(--colorGreen);
                text-decoration: underline;
            }
        }

        &:last-child {
            span {
                font-weight: 700;
                color: var(--colorBlack);
                text-decoration: underline;
            }
        }
    }

    .pillsBasicsRight {
        position: absolute;
        right: 0;
        top: 150vh;
    }

    .pillBasicsLeft {
        position: absolute;
        left: 29vh;
        top: 235vh;
    }
}

.tips {
    height: 65vh;
    background-image: url(../../static/images/square-green.svg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .tipsTitle {
        font-size: 4rem;
        font-weight: 900;
        text-transform: uppercase;
        margin-bottom: 4rem;
        font-style: italic;

        span {
            color: var(--colorGreen);
        }
    }
}

.quote {
    height: 80vh;
    background-color: var(--colorYellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .quoteText {
        max-width: var(--maxWidth);
        margin: 0 var(--marginMobile);
        font-size: var(--fontLarge);
        font-weight: 900;
        text-transform: uppercase;
        line-height: 160%;
        font-family: 'Integral', sans-serif;

        span {
            color: var(--colorWhite);
            background-color: var(--colorPurple);
            padding: 0 .5rem .5rem .5rem;
            border-radius: .5rem;
        }
    }
}

.experience {
    padding: 0 var(--marginMobile);
    background-color: var(--colorWhite);
    background-image: url(../../static/images/square-green.svg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--fontMedium);

    .tipsTitle {
        font-size: 3rem;
        margin: 8rem 0 4rem 0;
        -webkit-text-stroke: 2px var(--colorBlack);
        color: var(--colorWhite);
        font-style: italic;
        font-family: 'Integral', sans-serif;
    }

    .infoWrapper {
        display: grid;
        grid-template-rows: 5fr 0 3fr;
        max-width: var(--maxWidth);
    }

    .experienceInfo {
        padding: 2rem;
        background-color: var(--colorYellow);
        border: 2px solid var(--colorBlack);

        .experienceLocation {
            font-size: var(--fontLarge);
            font-weight: 700;
            margin-top: 2rem;
        }
    }

    .experienceMap {
        border: 2px solid var(--colorBlack);
    }
}

.buttonLarge {
    margin: 5rem var(--marginMobile);
    background-color: var(--colorGreen);
    padding: 1.2rem 2.5rem;
    border: 2px solid var(--colorBlack);
    box-shadow: var(--colorBlack) -5px 5px;
    color: var(--colorWhite);
    text-transform: uppercase;
    font-size: var(--fontMedium);
    font-weight: 600;

    &:hover {
        box-shadow: var(--colorBlack) -3px 3px;
    }
}

@media only screen and (min-width: 768px) {

    .title {
        font-size: 5.5rem;
    }

    .buttonWrapper {
        display: inline;
    }

    .button {
        padding: 1.5rem 4rem;
    }
}

@media only screen and (min-width: 1024px) {

    .title {
        font-size: 7.8rem;
    }

    .basicsWrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        .basics {
            max-width: 65rem;
            border: 2px solid var(--colorBlack);
            box-shadow: var(--colorBlack) -5px 5px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 2fr 2fr 1fr 2fr 2fr;
            grid-template-areas:
                "verb verb verb verb"
                "problem problem arrow arrow"
                "problem problem types types"
                "squares squares types types"
                "squares squares types types";

            .verb {
                padding: 4rem 2rem;
            }

            .problem {
                padding: 4rem 2rem;
            }

            .types {
                padding: 4rem 2rem;
            }

            .basicsTitle {
                font-size: var(--fontLarge);
            }
        }
    }

    .quote {
        .quoteText {
            font-size: 6.2rem;
            line-height: 140%;

            span {
                padding: 0 1rem 1rem 1rem;
                border-radius: 1rem;
            }
        }
    }

    .experience {

        .tipsTitle {
            font-size: 5rem;
        }

        .infoWrapper {
            display: grid;
            grid-template-columns: 3fr 1fr 4fr;
            grid-template-rows: 1fr;
        }

        .experienceSquares {
            background-color: var(--colorYellow);
            background-image: url(../../static/images/squares.png);
            border: 2px solid var(--colorBlack);
        }
    }

    .buttonLarge {
        margin: 5rem var(--marginMobile);
        background-color: var(--colorGreen);
        padding: 2rem 4rem;
        border: 2px solid var(--colorBlack);
        box-shadow: var(--colorBlack) -5px 5px;
        color: var(--colorWhite);
        text-transform: uppercase;
        font-size: var(--fontLarge);
        font-weight: 600;

        &:hover {
            box-shadow: var(--colorBlack) -3px 3px;
        }
    }
}