.introWrapper {
    background-color: var(--colorGreen);
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../static/images/square.svg);
}

.title {
    font-size: 4rem;
    font-weight: 900;
    font-style: italic;
    text-align: center;
    line-height: 130%;
    color: var(--colorWhite);
    text-shadow: -5px 5px #003726, -10px 10px var(--colorPurple);
    margin: 5rem 0;
}

.basicsWrapper {
    padding: 6rem .8rem;
    background-color: var(--colorWhite);

    .basics {
        border: 2px solid var(--colorBlack);
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 6rem 1fr 6rem 1fr;
        grid-template-areas:
            "verb"
            "arrow"
            "problem"
            "squares"
            "types";
    }

    .verb {
        grid-area: verb;
        background-color: var(--colorGreen);
        color: var(--colorWhite);
        padding: 4rem 2rem;
    }

    .problem {
        grid-area: problem;
        background-color: var(--colorWhite);
        padding: 4rem 2rem;
    }

    .arrow {
        grid-area: arrow;
        background-image: url(../../static/images/arrows.jpg);
    }

    .types {
        grid-area: types;
        background-color: var(--colorPurple);
        color: var(--colorWhite);
        padding: 4rem 2rem;
    }

    .squares {
        grid-area: squares;
        background-color: var(--colorYellow);
        background-image: url(../../static/images/squares.png);
    }

    .basicsTitle {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: .8rem;
        font-family: 'Integral', sans-serif;

        span {
            font-size: 1.2rem;
        }
    }
}

.buttonWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    margin: 1rem;
    background-color: var(--colorPurple);
    padding: .8rem 2rem;
    border: 2px solid var(--colorBlack);
    box-shadow: var(--colorBlack) -5px 5px;
    color: var(--colorWhite);
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;

    &:hover {
        box-shadow: var(--colorBlack) -3px 3px;
    }
}

@media only screen and (min-width: 768px) {

    .title {
        font-size: 5.5rem;
    }

    .buttonWrapper {
        display: inline;
    }

    .button {
        padding: 1.5rem 4rem;
    }
}

@media only screen and (min-width: 1024px) {

    .title {
        font-size: 7.8rem;
    }

    .basicsWrapper {
        display: flex;
        justify-content: center;
        align-items: center;

        .basics {
            max-width: 65rem;
            border: 2px solid var(--colorBlack);
            box-shadow: var(--colorBlack) -5px 5px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 2fr 2fr 1fr 2fr 2fr;
            grid-template-areas:
                "verb verb verb verb"
                "problem problem arrow arrow"
                "problem problem arrow arrow"
                "squares squares types types"
                "squares squares types types";
        }
    }
}