.footer {
    padding: 3rem var(--marginMobile);
    background-color: var(--colorDarkGreen);
    color: var(--colorWhite);
}

.title {
    font-size: var(--fontLarge);
    font-family: 'Integral', sans-serif;
}

.subtitle {
    margin-top: .5rem;
}

.itemWrapper {
    line-height: 150%;
}

.itemTitle {
    margin-top: 2rem;
    font-weight: 900;
    font-size: var(--fontNormal);
    text-transform: uppercase;
}

.hr {
    margin-top: 2rem;
}

.copyright {
    display: flex;
    justify-content: space-between;
    font-family: 'Integral', sans-serif;
    font-size: var(--fontNormal);
}

@media only screen and (min-width: 768px) {}

@media only screen and (min-width: 1024px) {

    .title {
        font-size: var(--fontLarge);
        font-family: 'Integral', sans-serif;
    }

    .subtitle {
        margin-top: 1rem;
    }

    .footer {
        padding: 4rem 2rem;
        background-color: var(--colorDarkGreen);
        color: var(--colorWhite);
    }

    .footerContent {
        display: grid;
        grid-template-columns: 55% 1fr 1fr 1fr;
    }

    .itemWrapper {
        line-height: 200%;
    }

    .itemTitle {
        margin-top: 0;
        font-size: var(--fontMedium);
    }

    .hr {
        margin-top: 4rem;
    }

    .copyright {
        font-size: var(--fontLarge);
    }
}