.header {
    padding-top: 1rem;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    background-color: var(--colorYellow);
}

.logo {
    padding: 0 var(--marginMobile);
    color: var(--colorBlack);
    font-size: var(--fontLarge);
    font-family: 'Integral', sans-serif;
}

.navList {
    display: flex;
    justify-content: space-between;
    padding: 1rem var(--marginMobile);

    .navItem {
        margin-right: 1rem;

        &:first-child {
            display: none;
        }

        &:last-child {
            margin-right: 0;
        }

        .navLink {
            font-size: 1.2rem;
            color: var(--colorBlack);
            text-transform: uppercase;
            font-weight: 600;

            span {
                color: var(--colorBlack);
            }
        }

        .navLinkActive {
            color: var(--colorGreen);
        }

        .navLinkActiveSpecial {
            span {
                color: var(--colorGreen);
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    .header {
        padding: 2rem;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        font-size: 1.5rem;
        background-color: transparent;
    }

    .navList {
        align-items: center;

        .navItem {
            margin: 0 1rem;

            &:first-child {
                display: inline;
            }

            &:last-child {
                padding: .5rem;
                border: 1px solid var(--colorBlack);
                box-shadow: var(--colorBlack) -3px 3px;
                background-color: var(--colorPurple);
            }

            .navLink {
                font-size: 1.5rem;

                span {
                    color: var(--colorWhite);
                }
            }

            .navLinkActive {
                color: var(--colorPurple);
            }

            .navLinkActiveSpecial {
                span {
                    color: var(--colorGreen);
                }
            }
        }
    }
}

@media only screen and (min-width: 1024px) {}

.navList {
    .navItem {
        .navLink {
            font-size: 1.2rem;

        }
    }
}