.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    width: 99vw;
    padding: 1.5rem .8rem;
}

.logo {
    color: var(--colorBlack);
    font-size: var(--fontLarge);
    font-family: 'Integral', sans-serif;
}

.navList {
    display: none;
}

@media only screen and (min-width: 1024px) {

    .header {
        padding: 2rem;
        font-size: 1.5rem;
    }

    .navList {
        display: flex;
        align-items: center;

        .navItem {
            margin: 0 1rem;

            &:last-child {
                padding: .5rem;
                border: 1px solid var(--colorBlack);
                box-shadow: var(--colorBlack) -3px 3px;
                background-color: var(--colorPurple);
            }

            .navLink {
                color: var(--colorBlack);
                text-transform: uppercase;
                font-weight: 600;

                span {
                    color: var(--colorWhite);
                }
            }

            .navLinkActive {
                color: var(--colorPurple);
            }

            .navLinkActiveSpecial {

                span {
                    color: var(--colorGreen);
                }
            }
        }
    }
}